body {
    background-color: #a7192f;
    
}

h1 {
    color: black;
    text-align: left;
    font-family: "Impact";
    font-weight: normal;
}

h3 {
	color: #a7192f;
}

p {
    font-family: "Din Pro Black";
    font-size: 20px;
}

table, th, td {
   border: 2px solid #c9d2c7;
}

td{
	width: 20%;
	padding-left: 10px;
}

table {
    border-collapse: collapse;
}

input {
	width: 40%;
	height: 30px;
	border-radius: 0px;
	border-top-color: #dddddd;
	border-left-color: #dddddd;
	border-right-color: #c9d2c7;
	border-bottom-color: #c9d2c7;
}

button{
	height: 30px;
	width: 90px;
	font-size: 95%;
	background-color: #a7192f;
	border: none;
	color: white;
	border-radius: 5px;
	margin: 10px; 
}

#head{
	background-color: #dddddd;
	font-weight: bold;
}

#main{
	position: relative;
    left: 7%;
    right: 7%;
	background-color: #fff;
	padding: 25px;
	width: 80%;
	height: 90%;
}

#inner{
	background-color: #e7eff1;
	padding: 25px;
}

#tot{
	font-weight: bold;
}

#btns{
	text-align: right;
	
}
